---
// import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={}
>
<p>Hi, I’m Jinwoo. I live in Madison, Wisconsin, and graduated from the University of Wisconsin Madison with a degree in Computer Science in 2018. Before moving to the U.S., I lived in Seoul, Korea, where I spent three years working in the game industry as a game designer.</p>

<p>Becoming a game designer was my dream. People sometimes ask, “Why did you leave your dream job?” As a designer, I had the ability to turn ideas into presentations and documents to share with others, but I couldn’t bring those ideas fully to life without the help of artists and programmers. That limitation pushed me to pursue a new goal: learning to build and create on my own.</p>

<p>Today, I’m a data engineer at Polco, where I design and manage data pipelines and architectures that help local governments across the U.S. make better decisions. My background in game design still shapes how I approach data balancing logic with creativity, and always focusing on clear communication and user experience.</p>

<p>Outside of work, you’ll probably find me cycling through Wisconsin trails or training for randonneuring events, long-distance rides that reward patience, planning, and endurance (much like data engineering).</p>
</Layout>
