---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Jinwoo Oh. All rights reserved.
	</div>
</footer>
<style lang="scss">
	@use '../styles/variables' as *;
	@use '../styles/mixins' as *;

	footer {
		padding: $spacing-xl $spacing-md;
		@include glass-effect(0.6, 20px, 0.15);
		color: rgb(var(--gray));
		text-align: center;
		margin-top: auto;

		.social-links {
			@include flex-center;
			gap: $spacing-md;
			margin-top: $spacing-sm;

			a {
				text-decoration: none;
				color: rgb(var(--gray));
				transition: color $transition-normal;

				&:hover {
					color: rgb(var(--gray-dark));
				}
			}
		}
	}
</style>
